:root {
  --odd: #222;
  --even: #333;
  --text: #dedede;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text);
  font-size: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--text);
}

header {
  background-color: var(--even);
  width: 100%;
  height: 80vh;
  padding: 0 15px;
  text-align: center;
}

#lang {
  display: inline-block;
  background-color: #f24527;
  font-size: 30px;
  width: 100px;
  height: 50px;
  border-bottom-left-radius: 100%;
}

#lang:hover {
  background-color: #e13416;
}

#lang > a {
  display: block;
  width: 100px;
  height: 50px;
  padding-left: 40px;
  border-bottom-left-radius: 100%;
}

.icon-color-adjust {
  display: inline-block;
  background-color: var(--text);
  color: #888;
  font-size: 30px;  
  width: 100px;
  height: 50px;
  padding-right: 40px;
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.icon-color-adjust:hover {
  background-image: linear-gradient(white, black);
}

h1 {
  font-size: 100px;
  padding-top: 18vh;
  letter-spacing: 3px;
  margin-bottom: 2vh;
  font-weight: 700;
}

hr {
  margin: auto;
  width: 600px
}

header > p {
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 2vh;
}

nav {
  width: 100%;
  height: 20vh;
  background-color: var(--odd);
  padding:0;
}

ul {
  height: 100%;
  padding: 10px;
  text-align: center;
}

ul > li {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%;
  text-align: center;
  letter-spacing: 2px;
  border-right: 3px solid var(--text);
}

ul > li:first-child {
  border-left: 3px solid var(--text);
}

ul > li:hover {
  background-color: #f24527;
}

ul > li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 5.5vh;
  font-size: 3vw;
}

section:nth-of-type(1n) {
  background-color: var(--even);
}

section:nth-of-type(2n) {
  background-color: var(--odd);
}

h2 {
  text-align: center;
  border-top: 2px dashed #e13416;
  border-bottom: 2px dashed #e13416;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 10px 0;
  margin-bottom: 30px;
  weight: 700;
}

#introduction > p {
  padding: 15px 40px;
  letter-spacing: 2px;
  text-align: justify;
}

#introduction > p:last-child {
  padding-bottom: 80px;
}

#techstack {
  text-align: center;
  padding-bottom: 50px;
}

.tech {
  display: inline-block;
  width: 200px;
  height: 123.61px;
  padding: 10px;
  margin: 25px;
  text-align: center;
  box-shadow: 0px 0px 28px 5px rgba(90, 66, 66, 1);
  -moz-box-shadow: 0px 0px 28px 5px rgba(90, 66, 66, 1);
  -webkit-box-shadow: 0px 0px 28px 5px rgba(90, 66, 66, 1);
}

.rating {
  
}

h3 {
  padding: 13px 0;
}

.positive {
  display: inline-block;
  color: yellow;
}

.negative {
  display: inline-block;
  color: grey;
}

#projects {
  text-align: center;
}

.project {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 99px;
  text-align: center;
  margin: 20px;
  background-color: #888;
  border: 12px solid #c01204;
  overflow: hidden;
  transition: all .4s ease-out;
}

.project:hover {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.project > a {
  display: block;
  height: 100%;
  width: 100%;
}

.project h3 {
  height: 75px;
  margin-top: 10px;
  border-bottom: 1px solid #c01204;
}

.project p {
  margin: 20px;
}

#contact {
  text-align: center;
}

#contact > div {
  display: inline-block;
  width: 24%;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

#contact a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 80px;
}

#email:hover {
  background-color: #c71610;
}

#in:hover {
  background-color: #0e76a8;
}

#tg:hover {
  background-color: #2AABEE;
}

#gh:hover {
  background-color: #6e5494;
}

footer {
  background-color: #121212;
  padding-top: 20px;
  min-height: 150px;
  text-align: center;
  font-size: 30px;
  color: dedede;
}

footer > p {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  header {
	height: 85vh;
  }
  
  .icon-color-adjust {
	background-image: linear-gradient(white, black);
  }
  
  h1 {
	padding-top: 20vh;
	font-size: 50px;
  }
  
  hr {
	width: 50%;
  }
  
  nav {
	height: 15vh;
  }
  
  ul li {
	background-color: #f24527;
  }
  
  .project {
	width: 200px;
	height: 300px;
	border-radius: 30px;
	overflow: visible;
  }
  
  .project:hover {
	width: 200px;
  }
  
  #contact > div {
	height: 100px;
	line-height: 100px;
  }
  
  #contact a {
	font-size: 40px;
  }
  
  #email {
  background-color: #c71610;
  }

  #in {
    background-color: #0e76a8;
  }
  
  #tg {
    background-color: #2AABEE;
  }
  
  #gh {
    background-color: #6e5494;
  }
  
  footer {
	font-size: 20px;
  }
}