
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e802'; } /* '' */
.icon-tools:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
